.detailLocationContainer {
    position: absolute;
    bottom: -21rem;
    width: 150%;
    height: 250px;
    left: 1em;
    padding: 2em;
    box-shadow: 0 0 19px 0 rgba(0,0,0,0.25);
    border-radius: 1.5rem;
}
.searchHeadline {
    font-weight: bold;
    text-align: left;

}
