.guestContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.guestWrapper {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    padding: 22px 5rem 1rem 2rem;
    height: 100%;
}

.guestInputWrapper {
    margin-left: 1rem;
}

.guestInputWrapper p {
    text-align: left;
    margin: 0;
}

.guestInputWrapper p:first-child {
    font-weight: bold;
}

.guestInputWrapper p:nth-child(2) {
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    color: gray;
}
