.App {
  text-align: center;
  margin: 1em;
}
.typesContainer {
  display: flex;
  margin: 3em;
  gap: 3rem;
}
.typeContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
}

.boldText {
  font-weight: bold;
}
